<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Cadastro</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <listener>
  <listener-class>com.sun.xml.ws.transport.http.servelet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
  <description>WebService Cadastro</description>
  <display-name>CadastroUsuarioWS</display-name>
  <servlet-name>CadastroUsuarioWS</servlet-name>
  <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServelet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>CadastroUsuarioWS</servlet-name>
  <url-pattern>/webservice/CadastroUsuarioWS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
</web-app>